$blue-color: #7FB5FF;

//For dark mode
$bg-color-dark: #413F42;
$secondary-bg-color-dark: #73777B;
$text-color-dark: #F2F2F2;

//For light mode
$bg-color-light: #F6FBF4;
$secondary-bg-color-light: #DAEAF1;
$text-color-light: #413F42;
